.feature-full{
    display: flex;
    flex-direction: column;
}

.feature-text{
    display: flex;
    flex-direction: column;
    font-family: var(--font-head);
}

.feature-text p{
    font-size: 15px;
    color: var(--color-orange);
    margin-bottom: 5px;
}

.feature-text h3{
    font-size: 30px;
    font-weight: 700;
    color: var(--color-dark);
    margin-bottom: 1rem;
}

.feature-loading-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-image-all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* .feature-image-gradient{
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%; 
    background:black;
    opacity: 80%;
  transition: all 1.5s ease-in-out; 
} */

@media screen and (max-width:900px) {
    .feature-text p{
        font-size: 12px;
    }
    .feature-text h3{
        font-size: 25px;
    }
    
    .feature-image-all{
        flex-direction: column;
    }
}