.feature-image{
    padding: 1px;
    border: 1px solid gray;
    margin: auto 5px;

    &:hover{
        opacity: 0.7;
    }
}

.feature-image img{
    width: 350px;
    object-fit: cover;
}

.feature-content{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    // background-color: rgba(0, 0, 0, 0.957);

    .feature-image-price{
    font-size: 15px;
    font-family: var(--font-para2);
    // color: white;
}

    .feature-image-name{
    text-transform: uppercase;
    font-size: 15px;
    font-family: var(--font-para2);
    // color: white;

}
}

.feature-gradient{
    z-index: 2;
    position: relative;
    height: 100%;
    // top: 50%;
    // right: 50%;
    width: 350px; 
    background:radial-gradient(circle at 0% 59%, rgba(0, 0, 0, 1) 0%, rgba(66, 66, 66, 1) 48%, rgba(0, 0, 0, 1) 100%);
    opacity: 80%;
 /* transition: all 1.5s ease-in-out; */
}

@media screen and (max-width:900px) {
    .feature-image{
        margin: none;
        margin-bottom: 1rem;

    }

    .feature-gradient{
        display: none;
    }
}