/* .notification-full {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-para3);
  background-color: #f1c40f;
  color: white;
  padding: 5px;
  left: 1vw;
  top: 21vh;
  width: 25%;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.notification-content h5 {
  font-size: 25px;
  color: green;
}

.notification-content p {
  font-size: 20px;
  color: white;
} */

/* animation bar  */
.progressbar {
  display: inline-block;
  position: absolute;
  color: #0087ca;
  left: 0;
  top: 0;
  width: 1px;
}

.progressbar:after {
  content: "";
  position: absolute;
  width: 23.7rem;
  transform: scaleX(0);
  height: 5px;
  left: 0;
  top: 0;

  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 3.0s ease-out;
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* .progressbar:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */
