.footer-full{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(215, 214, 214, 0.582);
    border-top: 3px solid var(--color-light);
    border-top-left-radius: 250px 100px;
    border-top-right-radius: 3px;
    position:relative;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.footer-content{
    display: flex;
    flex-direction: column;
    
        h5{
            font-size: 25px;
            font-family: var(--font-para2);
            color: black;
            margin-bottom: 0.8rem;

            span{
                color: var(--color-dark);
            }
        }

        p {
            font-size: 14px;
            color: black;
        }
    
        .footer-content-copyright{
            color: gray;
            font-size: 13px;
            margin-top: 2rem;
        }
}

.footer-icons{
    display: flex;
    align-items: flex-start;
    // padding: 10px ;
    justify-content: space-evenly;
}

.social-icon{
    color: rgb(61, 60, 60);
    margin: auto 2vh;
    padding: 4px;

    border: 3px solid var(--color-dark);
    border-radius: 100%;

    &:hover{
        color: black;       
        border-color: var(--color-medium);
    }
}


@media screen and (max-width:800px){
    .footer-full{
        flex-direction: column;
        border-top-left-radius: 150px 80px;
    }

    .footer-content{
        align-self: center;

        h5{
            font-size: 20px;
        }

        p{
            font-size: 12px;
        }

        .footer-content-copyright{
            font-size: 12px;
        }
    }

    .footer-icons{
        align-self: center;
        margin-top: 3rem;
    }
}